/.env
/.env.example
/__pycache__/
/groq-debate/__pycache__/
/groq-debate/config/__pycache__/
/groq-debate/src/__pycache__/
/ollama-debate/__pycache__/
/ollama-debate/config/__pycache__/
/ollama-debate/src/__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
/results/
